@media (max-width:1200px) {}


@media screen and (max-width: $screen-sm-max) {
  .mob-min-s{
    text-align: center;
    margin: 10px auto 0;
    display: block;
  }
  .head-top .mouse-scrolldown {
    bottom: 5px;

}
    .doctorpg {
        .flexslider {
            width: 592px !important;
            margin: 0 auto 60px;
        }
    }
    .tab-list ul li a, .tab-list2 ul li a, .tab-list3 ul li a {
      font-size: 14px;
      padding: 0px 15px 0px 10px;
      display: inherit;
      width: 155px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.m-mb-0{
  margin-top: 0px;
}
}
@media screen and (max-width: $screen-xs-max) {
  .mob-min-s{
    text-align: center;
    margin: 10px auto 0;
    display: block;
  }
    .tab-list2 ul li a {
        padding: 5px 31px 7px 20px !important;
    }
    .navbar .collapse .navbar-nav li {
        padding: 18px 14px;
    }
}
@media (max-width:480px){
  .no-data{
    min-height: 200px;
  }
  .em-logo {
    width: 140px;

}
  .renitamenu .btn-hide {
    margin: 15px 0px 0 15px;

}
  .main-img {
      position: relative;
      width: auto;
overflow: hidden;
img{
width: 100% !important;
}
  }
  .landing .flexslider .flex-direction-nav .flex-next {
    right: 10px;
    left: auto;
}
  .landing .flexslider .flex-direction-nav .flex-prev {
    left: 10px;
    left: auto;
}
.flexslider {
  &:hover {
      .flex-direction-nav {
          .flex-prev {
              left: 10px;
              right: auto;
          }

          .flex-next {
              right: 10px;
              left: auto;
          }

      }
  }
    .flex-direction-nav {
      .flex-prev {

          left: 10px;
      }

      .flex-next {
          right: 10px;

      }
      a {

          width: 50px !important;

          // padding: 2px 46px !important;
          &.flex-prev:before {
              content: url('../img/prevbtn.png');
              transform: scale(0.5);
          }

          &.flex-next:before {
              content: url('../img/nextbtn.png');
                transform: scale(0.5);
          }
      }
    }

}
}
