@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0090ff!default;
$brand-success: #499c83 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base-color: #161616 !default;
$brown-color: #da8340 !default;
$menu-color: #343536 !default;
$before-color:#52b3ff !default;
$white: #fff !default;
$font-family-sans-serif: "Titillium Web", "Raleway",sans-serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
.navbar-fixed-top {
    z-index: 10;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
}
.sticky-header {
    margin-top: -70px;
    @include transition(all ease 300ms);
    &.affix {
        margin: 0;
    }
}
.navbar {
    min-height: 56px;
    background-color: #ffffff;
    border-color: #ffffff;
    .navbar-brand {
        height: 56px;
        padding: 10px 15px;
    }
    .collapse {
        height: 56px;
        .navbar-nav {
            margin: 0;
            padding: 0;
            li {
                position: relative;
                padding: 18px 15px;
                margin: 0 5px;
                cursor: pointer;
                a {
                    padding: 0;
                    font-size: 18px;
                    color: $menu-color;
                    letter-spacing: 1px;
                }
                &:hover {
                    .borpos,
                    .submenu {
                        display: block;
                    }
                }
                .submenu {
                    display: none;
                    &:before {
                        content: "";
                        bottom: -11px;
                        left: 50%;
                        z-index: 20;
                        position: absolute;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid #2e8495;
                        transform: translateX(-50%);
                    }
                }
                .borpos {
                    position: absolute;
                    width: 100%;
                    height: 6px;
                    bottom: -1px;
                    left: 0;
                    top: auto;
                    right: 0;
                    display: none;
                }
                .borskin {
                    background-color: #499c83;
                }
                .borhair {
                    background-color: #2f8596;
                }
                .borbody {
                    background-color: #5e78ab;
                }
                .bormen {
                    background-color: #bc9025;
                }
                .bortreat {
                    background-color: #26c65a;
                }
                .borderm {
                    background-color: #be3f5c;
                }
                .borviti {
                    background-color: #da8340;
                }
                .dropdown-menu {
                    top: 55px;
                    left: -25%;
                    margin: 2px 0 0;
                    color: $base-color;
                    background-color: #f3f3f3;
                    z-index: 15;
                    li {
                        padding: 10px 15px;
                        margin: 0 8px;
                    }
                    li+li {
                        border-top: 2px solid #e1e1e1;
                    }
                }
            }
        }
    }
}
.inline-block {
    display: inline-block;
}
.renitamenu {
    .menu-side {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .navbar-header {
        h4 {
            color: #fff;
            margin: 0 20px;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    .btn-hide {
        padding: 0;
        margin: 24px 0 0;
        border: 0;
        background: none;
        vertical-align: text-bottom;
        position: relative;
        height: 30px;
        width: 30px;
        &:focus {
            outline: 0;
        }
    }
    .icon-bar {
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 6px 0;
        /* border: 0; */
        display: block;
    }
}
.menu-out {
    height: 310px;
    @include transform(translateX(-300px));
    // @include transition(all 300ms linear);
    position: fixed;
    width: 300px;
    z-index: 99;
    left: 0;
}
.menu-in {
    background-color: rgba(255, 255, 255, 0.8);
    @include transform(translateX(0));
    // @include transition(all 300ms linear);
    position: fixed;
    height: 100%;
    width: 320px;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
}
.icon-bar,
.sidemenu,
h4 {
    @include transition(all 300ms ease);
}
.buttonpos {
    position: relative;
    z-index: 9999;
    h4 {
        color: black !important;
    }
    .icon-bar {
        background-color: black;
    }
    .one {
        @include transform(rotate(45deg));
        margin-bottom: -20px;
    }
    .two {
        opacity: 0;
    }
    .three {
        @include transform(rotate(-45deg));
        margin-top: 10px;
    }
}
.firstbar {
    @include transform(rotate(-45deg));
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #000 !important;
    cursor: pointer;
}
.secondbar {
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 20px;
}
.thirdbar {
    @include transform(rotate(45deg));
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #000 !important;
    cursor: pointer;
}
.cross {
  cursor: pointer;
    .fa {
        font-size: 20px;
        margin-right: 12px;
    }
}
.homeborder {
    border-bottom: 2px solid #87888a;
    margin: 0 36px 0 25px;
}
.nav-list{
  padding: 24px 30px 0;
  li {
      padding: 12px 10px 0;
      font-size: 16px;
      a {
          color: #161616;
      }
  }
}
.remaining{
  margin: 0 36px 0 25px;
}
//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.margin0 {
    margin: 0;
}
.padding0 {
    padding: 0;
}
.width100 {
    width: 100%;
}
.my-list {
    ul {
        display: block;
        list-style: none;
        li {
            display: inline-block;
        }
    }
}
.display-inline {
    display: inline-block;
}
.margin-auto {
    margin: 0 auto;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.color-base {
    color: $base-color;
}
.color-primary {
    color: $brand-primary;
}
.color-success {
    color: $brand-success;
}
.color-after{
  color:$before-color;
}
.color-white {
    color: $white;
}
.color-brown {
    color: $brown-color;
}
.color-grey {
    color: grey;
}
.font-bold {
    font-weight: 700;
}
.mt50 {
    margin-top: 50px;
}
.mt30 {
    margin-top: 30px;
}
.text-up {
    text-transform: uppercase;
}
.text-cap {
    text-transform: capitalize;
}
.mt15 {
    margin-top: 15px;
}
.mt10 {
    margin-top: 10px;
}
.search-btn {
    @include button-variant($white, $brand-primary, $brand-primary);
}
.outline-btn {
    @include button-variant($base-color, transparent, $base-color);
    border: 1px solid;
}
.btn-padding {
    padding: 8px 15px;
}
.blog-box {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 40px;
    margin-bottom: 60px;
}
.blog-search {
    .form-control {
        border: 1px solid $brand-primary;
    }
}
.mt20 {
    margin-top: 20px;
}
.f12 {
    font-size: 12px;
}
.blog-popular-tag {
    background: #7fc7ff;
    padding: 15px 20px 20px 15px;
}
.border-btm {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.font-ralway {
    font-family: 'Raleway';
}
.all-tags {
    ul {
        li {
            background: #fff;
            padding: 4px 6px;
            margin: 3px 1px;
            cursor: pointer;
        }
    }
}
.font-normal {
    font-weight: 400;
}
.font-semi {
    font-weight: 600;
}
.contact-data {
    p {
        color: $base-color;
    }
}
.footer-top {
    background-color: #252525;
    padding: 16px 0 10px;
}
.footer-bottom {
    background-color: #b1b1b1;
    padding: 5px 0 0;
}
.footer-list {
    ul {
        list-style: none;
        li {
            padding: 3px 0;
            a {
                color: $white;
            }
        }
    }
}
.subscribe {
    .form-control {
        height: 28px;
        font-size: 14px;
        color: $white;
        background-color: transparent;
    }
    .btn {
        font-size: 10px;
    }
}
.quara {
    img {
        vertical-align: baseline;
        margin-left: 88px;
    }
}
.follow {
    ul {
        li {
            // padding: 0px 3px;
            i {
                background: #fff;
                height: 26px;
                width: 26px;
                font-size: 18px;
                border-radius: 1px;
                text-align: center;
                line-height: 156%;
            }
        }
    }
}
.pb20 {
    padding-bottom: 20px;
}
.pl20 {
    padding-left: 20px;
}
.data-content {
    a {
        color: $brand-primary;
    }
}
.blog-content {
    p {
        font-size: 15px;
    }
}
.blog-img {
    padding-bottom: 20px;
}
.social-icon {
    img {
        width: 30px;
    }
}
.count {
    span {
        font-size: 20px;
        color: $brand-primary;
    }
}
.blog-share {
    ul {
        li {
            padding: 0 3px;
        }
    }
}
.pb60 {
    padding-bottom: 60px;
}
.blog-left-side {
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}
.tab-list {
    ul {
        list-style: none;
        li {
            padding: 8px 0;
            border-bottom: 2px solid #da8340;
            cursor: pointer;
            a {
                font-size: 18px;
                font-weight: 500;
                color: $base-color;
                padding: 5px 55px 7px 20px;
            }
        }
        .active-tab {
            background-color: $brown-color;
            color: $white;
            a {
                color: $white;
            }
        }
    }
}
.tab-list {
    display: inline-block;
}
.tab-list2 {
    @extend .tab-list;
    display: inline-block;
    ul{
      li{
       border-color: $brand-success;
      }
    }
    .active-tab {
        background-color: $brand-success !important;
        color: $white;
        a {
            color: $white;
        }
    }
}
.tab-list3 {
    @extend .tab-list;
    display: inline-block;
    ul{
      li{
       border-color: $before-color;
       a{
         display: inline-block;
          padding:5px 0px 7px 18px;
       }
      }
    }
    .active-tab {
        background-color: $before-color !important;
        color: $white;
        a {
            color: $white;
        }
    }
}
.data-title {
    border-bottom: 1px solid #da8340;
    padding-bottom: 10px;
}
.data-title2 {
    border-bottom: 1px solid $brand-success;
}
.data-title3 {
    border-bottom: 1px solid $before-color;
}
.data-main {
    h4 {
        color: $brown-color;
        font-weight: 500;
    }
}
.data-image {
    padding-bottom: 15px;
}
.data {
    margin: 2em 0 3em;
    p {
        margin: 0;
    }
}
.doctorpg {
    .flexslider {
        background: transparent;
        border-color: transparent;
        .flex-direction-nav {
            .flex-prev {
                right: 80px;
                left: auto;
            }
            .flex-next {
                right: 0;
                left: auto;
            }
            a {
                opacity: 1;
                width: 49px;
                height: 47px;
                text-align: center;
                bottom: -52px;
                top: auto;
                margin: 0;
                // padding: 2px 46px !important;
                &.flex-prev:before {
                    content: url('../img/prev.png');
                }
                &.flex-next:before {
                    content: url('../img/nxt.png');
                }
            }
        }
        &:hover {
            .flex-direction-nav {
                .flex-prev {
                    right: 80px;
                    left: auto;
                }
                .flex-next {
                    right: 0;
                    left: auto;
                }
            }
        }
        ol.flex-control-nav.flex-control-paging {
            display: none;
        }
    }
}
.doctor-box {
    background-color: #ebebeb;
}
.docs-detail {
    // border-right: 1px solid $brand-primary;
    margin: 10px 0;
    &:hover {
        margin: 0 0 10px;
        padding: 10px 0 0;
        background-color: $brand-primary;
        .descp,
        .name h4,
        .spl {
            color: #fff;
        }
        cursor: pointer;
    }
    .name {
        h4 {
            padding: 40px 0 4px;
            margin: 0 0 4px;
            color: $brand-primary;
        }
    }
    .descp {
        padding: 0 40px 26px;
        color: $base-color;
        font-size: 16px;
        font-weight: 400;
    }
    .spl {
        margin: 0 0 10px;
        color: #545454;
        font-size: 16px;
        font-weight: 400;
    }
}
.landing {
    .flexslider {
        background: transparent;
        border-color: transparent;
        margin: -4px 0;
        .flex-direction-nav {
            .flex-prev {
                right: auto;
                left: 50px;
            }
            .flex-next {
                right: 50px;
                left: auto;
            }
            a {
                opacity: 1;
                width: 65px;
                height: 65px;
                text-align: center;
                margin: 0;
                top: 46%;
                // padding: 2px 46px !important;
                &.flex-prev:before {
                    content: url('../img/previous.png');
                }
                &.flex-next:before {
                    content: url('../img/next.png');
                }
            }
        }
        &:hover {
            .flex-direction-nav {
                .flex-prev {
                    left: 50px;
                    right: auto;
                }
                .flex-next {
                    right: 50px;
                    left: auto;
                }
            }
        }
        ol.flex-control-nav.flex-control-paging {
            display: none;
        }
    }
    .main-img {
        position: relative;
    }
    .front-img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        opacity: 0;
        @include transform(translate(-50%,-50%));
    }
    @-webkit-keyframes banner {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes banner {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes banner {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes banner {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .flex-active-slide {
        .main-img {
            animation-name: banner;
            animation-duration: 0s;
            animation-delay: 0s;
        }
        .front-img {
            animation-name: banner;
            animation-duration: 20s;
            animation-delay: 0.2s;
        }
    }
}
.main-slider {
    position: relative;
    h4 {
        position: absolute;
        color: #fff;
        top: 30px;
        left: 130px;
        font-size: 20px;
        z-index: 2;
        letter-spacing: 1px;
        @include transform(translate(-50%,-50%));
    }
}
.imgbot{
  margin-bottom: 25px;
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";
@import "mobile";
