<section>
    <div class="head-top">
        <img src="img/blog.jpg" alt="Dr Renita" class="img-responsive">
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="data-content">
        <h1>Our Team</h1>
        <p>
          Dr Renita Rajan, Consultant Cosmetic  Dermatologist at Dr Renita Rajan Skin & Hair Clinic, obtained her Masters in Dermatology, Venereology and Leprosy [MD(DVL)] from the prestigious <span>Christian Medical College, Vellore</span>, and went on to obtain her DNB degree in the specialty. A confident approach resulting from comprehensive exposure to dermatological medicine, excellent patient care and an orientation towards research are all values, that Dr Renita Rajan has imbibed from her training at this renowned centre.
        </p>
        <p>
        It is indeed a testimony to the trust that her patients have in her, that Dr Renita Rajan Skin & Hair Clinic, has been rated as the Best Skin Clinic in Chennai for elective procedures, by the <span> Times of India All India Lifestyle Hospital and Clinic Ranking Survey 2015</span>.
        </p>
        <p>
      She has worked as a Faculty in one of the prestigious medical institutes in Chennai, Sri Ramachandra University and is very interested in teaching and mentorship.  She is a Top Doctor at <span>RealSelf</span>. She is a life member at the Indian Association of Dermatologists, Venereologists and Leprologists(IADVL). She holds memberships at the Dermatology Aesthetic Surgery International League(DASIL), European Society for Cosmetic and Aesthetic Dermatology(ESCAD), the Cosmetic Dermatology Society of India(CDSI) and the Association of Cutaneous Surgeons India(ACSI). She is the State Convenor for Tamil Nadu State at the ACSI. </span>.
        </p>
        <p>
      Dr Renita Rajan constantly strives to update her knowledge and technical know-how in order to be able to give the best treatment to patients who seek her care. She has been trained in Cosmetic Dermatology and Dermatosurgery - non surgical facelift, lip sculpting, Botulinum toxin and fillers, in Singapore and in several workshops across India. She has attended and presented research findings and studies in conferences in Japan, Spain, France and Singapore. She has contributed a chapter to the textbook, <span>'FUNDAMENTALS OF GLOBAL HIV MEDICINE'</span>, and has published articles in national and international academic journals. She is also the co author of the chapter on 'Ages in Dermatology' in the <span>IADVL</span> undergraduate textbook for Dermatology. </span>.
        </p>
        <p>
    A keen innovator in dermatosurgery, Dr Renita Rajan was awarded at the Young Dermatologist's Forum, COSDERMINDIA  2014 (organised by the Cosmetic Dermatology Society of India) , for her innovation in increasing safety while treating under eye dark circles with hyaluronic acid fillers. Her innovation in acne surgery was shortlisted for the Innovators Award at the ACSICON 2014 and again, in ACSICON 2016(organised by the Association of Cutaneous Surgeons of India). She has also devised a unique tool  to improve the aesthetic outcome and yield in hair transplant surgeries, which innovation has been published in the Journal of Cosmetic and Aesthetic Surgery.  She has been invited to speak at, and has organised many symposia and meetings to further the knowledge of cosmetic dermatology in India. She believes that innovations are the future of cosmetic dermatology and accordingly, strives to devise and invent newer treatment methodologies suited to Indian skin. </span>.
        </p>
        <p>Dr Renita Rajan also coordinated projects aimed at education of under privileged children, for <span>HUGS India</span> (Help Us Go to School), an NGO which works towards taking education in a holistic form to children who are most in need of it. She has served  in Kenya, as a medical volunteer with <span>Medicins Sans Frontieres</span>(Doctors Without Borders) – Belgium, in a bid to understand health care in resource poor settings.</p>
      </div>
    </div>
  </div>
</section>
