<section>
    <div class="head-top">
        <img src="img/blog.jpg" alt="Dr Renita" class="img-responsive">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-left-side">
                    <div class="blog-img">
                        <img src="img/b1.jpg" alt="Dr Renita rajan" class="img-responsive">
                    </div>
                    <div class="blog-title">
                        <h1>The expert route to getting the best lips in town!</h1>
                    </div>
                    <div class="blog-date">
                        <span>Saturday, 23 January 2016</span>
                    </div>
                    <div class="blog-content">
                        <p>We laugh, we smile, we yap. we chat, we sip, we lick, we pout, we kiss!</p>
                        <p>Our lips are pretty much among the heavy duty organs we have - pausing to rest only when we wind down for the night.</p>
                        <p>Some of us pamper our lips, while some abuse them - by smoking, picking or chewing the lips.</p>
                        <p>A person's lips can be a huge enhancement to his / her features, and it is no wonder that lip balms and lip colors are huge in the cosmetic industry.</p>
                        <p>With all this hype, do you know what it really takes to get and maintain healthy, luscious and alluring lips?</p>
                    </div>
                    <div class="blog-img">
                        <img src="img/b2.jpg" alt="Dr Renita rajan" class="img-responsive">
                    </div>
                    <div class="blog-img">
                        <img src="img/b3.jpg" alt="Dr Renita rajan" class="img-responsive">
                    </div>
                    <div class="blog-content">
                        <p>Not happy with your lips? Do not worry, let us help you fix them!
                        </p>
                    </div>
                    <div class="blog-img">
                        <img src="img/b4.jpg" alt="Dr Renita rajan" class="img-responsive">
                    </div>
                </div>
                <div class="blog-share">
                    <ul>
                        <li>
                            <div class="social-icon display-inline">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="count display-inline">
                                <span>1</span>
                            </div>
                        </li>
                        <li>
                            <div class="social-icon display-inline">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="count display-inline">
                                <span>1</span>
                            </div>
                        </li>
                        <li>
                            <div class="social-icon display-inline">
                                <i class="fa fa-google-plus"></i>
                            </div>
                            <div class="count display-inline">
                                <span>1</span>
                            </div>
                        </li>
                        <li>
                            <div class="social-icon display-inline">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="count display-inline">
                                <span>1</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="blog-pagination">
                    <div class="float-left">
                        <button type="button" name="button">Previous Post</button>
                    </div>
                    <div class="float-right">
                        <button type="button" name="button">Next Post</button>
                    </div>
                </div>
                <div class="related-blog">
                    <span>related Post</span>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="related-box text-center">
                                <img src="img/bb1.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                <span>Do HCG injections really work for weight loss?</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="related-box text-center">
                                <img src="img/bb2.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                <span>Body shaping made easy!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="related-box text-center">
                                <img src="img/bb3.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                <span>Should you stop Aspirin before going in to get your... </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-right-side">
                    <div class="blog-search">

                    </div>
                    <div class="blog-popular-tag">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="p-img-box">
                                    <img src="img/p1.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="blog-p-title">
                                    <h4>The expert route to getting the best lips in town!</h4>
                                </div>
                                <div class="blog-p-date">
                                    <span>Saturday, 23 January 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="p-img-box">
                                    <img src="img/p2.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="blog-p-title">
                                    <h4>Do HCG injections really work for weight loss?</h4>
                                </div>
                                <div class="blog-p-date">
                                    <span>Saturday, 23 January 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="p-img-box">
                                    <img src="img/p3.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="blog-p-title">
                                    <h4>Body shaping made easy!</h4>
                                </div>
                                <div class="blog-p-date">
                                    <span>Saturday, 23 January 2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="p-img-box">
                                    <img src="img/p4.jpg" alt="Dr Renita Rajan" class="img-responsive">
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="blog-p-title">
                                    <h4>Should you stop Aspirin before going in to get your... </h4>
                                </div>
                                <div class="blog-p-date">
                                    <span>Saturday, 23 January 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tags">
                        <div class="all-tags my-list">
                            <ul class="padding0">
                                <li>
                                    <span>Skin</span>
                                </li>
                                <li>
                                    <span>hair</span>
                                </li>
                                <li>
                                    <span>scalp</span>
                                </li>
                                <li>
                                    <span>body</span>
                                </li>
                                <li>
                                    <span>acne</span>
                                </li>
                                <li>
                                    <span>anti-ageing</span>
                                </li>
                                <li>
                                    <span>facial</span>
                                </li>
                                <li>
                                    <span>pigmentation</span>
                                </li>
                                <li>
                                    <span>dull skin</span>
                                </li>
                                <li>
                                    <span>dermatology</span>
                                </li>
                                <li>
                                    <span>tatoo removal </span>
                                </li>
                                <li>
                                    <span>body </span>
                                </li>
                                <li>
                                    <span>acne </span>
                                </li>
                                <li>
                                    <span>Skin</span>
                                </li>
                                <li>
                                    <span>hair</span>
                                </li>
                                <li>
                                    <span>scalp</span>
                                </li>
                                <li>
                                    <span>body</span>
                                </li>
                                <li>
                                    <span>acne</span>
                                </li>
                                <li>
                                    <span>anti-ageing</span>
                                </li>
                                <li>
                                    <span>facial</span>
                                </li>
                            </ul>
                            <div class="view-more">
                              <span>view more</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
