<section>
   <div class="head-top">
      <img src="{{doctorHeader.image|uploadpath}}" alt="Dr Renita Rajan" class="img-responsive">
   </div>
</section>
<section class="doctorpg">
   <div class="container">
      <div class="row">
         <div class="data" ng-bind-html="doctorHeader.description">
            <!-- <h1 class="font-bold color-primary text-up mt20">doctor</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text.</p> -->
         </div>
         <div class="doctor-slider">
            <flex-slider flex-slide="item in doctor track by $index" prev-text="" next-text="" animation="slide" item-width="292" item-margin="0" animationloop="false" reverse="false">
               <li>
                  <!-- <img ng-src="{{s}}" class="img-responsive"> -->
                  <div class="doctor-box text-center ">

                     <div class="img-box" id="pops">
                        <!-- <a class="various" >Iframe</a> -->
                        <a fancybox-box data-fancybox-type="iframe" rel="group" href="views/content/fancybox.html">

                           <img ng-src="{{item.image|uploadpath}}" alt="" class="img-responsive">
                        </a>
                        <a fancybox-box data-fancybox-type="iframe" rel="group" href="views/content/fancybox1.html">
                        </a>
                        <a fancybox-box data-fancybox-type="iframe" rel="group" href="views/content/fancybox2.html">
                        </a>
                     </div>
                     <div class="docs-detail">
                        <div class="name">
                           <h4>{{item.name}}</h4>
                        </div>
                        <div class="spl">
                           <span>{{item.specialist}}</span>
                        </div>
                        <div class="descp">
                           <p>{{item.description}}</p>
                        </div>
                     </div>
                  </div>
               </li>
            </flex-slider>
         </div>

      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="mt30 pb30">
               <div class="text-center">
                  <h4 class="color-primary font-semi">ALSO READ</h4>
                  <button type="button" name="button" class="outline-btn btn-padding2 f18" ui-sref="team">ABOUT US</button>
                  <button type="button" name="button" class="outline-btn btn-padding2 f18 gulp-m" ui-sref="doctor">TEAM</button>
                  <button type="button" name="button" class="outline-btn btn-padding2 f18" ui-sref="testimonial">TESTIMONIALS</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
