<!-- <div class="container">

    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>

</div> -->
<section class="landing">
  <div class="main-slider">
    <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
        <li auto-heightfixed>
          <div class="main-img">
            <img ng-src="{{s.img}}" class="img-responsive" auto-height>
            <div class="front-img">
              <img ng-src="{{s.image}}" class="img-responsive" auto-height>
            </div>
          </div>
        </li>
    </flex-slider>
  </div>
</section>
