<section>
    <div class="head-top">
        <img src="img/skin.jpg" alt="Dr Renita" class="img-responsive">
    </div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="data">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="tab-list">
          <ul class="padding0 margin0">
              <li><a href="" ng-class="{{classp}}" ng-click="tabchanges('acre',1)">Acne</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('pig',2)">Pigmentation</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('tato',3)">Tatoo Removal</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('faci',4)">Facial Contouring</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('dull',5)">Dull Skin</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('anti',6)">Anti - Ageing</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('uneven',7)">Uneven Skin</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('skin',8)">Skin Tags</a></li>
              <li><a href="" ng-class="{{classv}}" ng-click="tabchanges('general',9)">General Dermatology</a></li>
          </ul>
      </div>
    </div>
    <div class="col-md-9"></div>
  </div>
</div>
</section>
