<section>
    <div class="head-top">
        <img src="img/terms.jpg" alt="Dr Renita" class="img-responsive">
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="data-content mt50 color-base pb20">
        <ul class="padding0">
          <li>
            <p>	We try our best to treat your concern in the best possible way, based on our experience. It is very well possible that we succeed, but sometimes, it is also possible
      that we may not. While we strive to increase our success percentage, we are unable to offer any guarantee on any procedure/ service / consultation.</p>
          </li>
          <li>
            <p>	Many conditions take time to resolve. As much as we would want a speedy recovery, there is only so much that we can push the human body to. Patience and
       understanding of your skin condition/ diagnosis is truly appreciated.</p>
          </li>
          <li>
            <p>	Some treatments, like non surgical face lift, are spread out over time, and are offered in multiple sessions – this is just how the treatment works. It would be
      unwise to expect results with a single session! Please do check with the doctor/ nurse regarding the protocol that is suggested for you, before signing up for the
      sessions/ paying for them.</p>
          </li>
          <li>
            <p>	Pigmentation treatments involve good after care from your end of the bargain. Sun exposure will interfere with outcomes, and you are encouraged to use
      sunscreen regularly. You are also encouraged to let your doctor know, if you are unable to adhere to the after care, for any reason, so that the procedure can be
      rescheduled for later.</p>
          </li>
          <li>
            <p>	Hair loss treatments can give suboptimal results, if the recommended lifestyle modifications are not followed.</p>
          </li>
          <li>
            <p>	Body shaping treatments, work best when you are able to maintain your body weight within the recommended limits. Our treatments do not, and cannot, replace
       basic measures like a good diet and a regular exercise regimen. Rather, our treatment complement your efforts, and help you tame the difficult bits!.</p>
          </li>
          <li>
            <p>	We wish to treat you like family, and offer you a great experience and some good results. It will encourage us a lot if you are courteous and polite to us, too!.</p>
          </li>
          <li>
            <p>	We wish to treat you like family, and offer you a great experience and some good results. It will encourage us a lot if you are courteous and polite to us, too!.</p>
          </li>
          <li>
            <p>	We are able to accommodate a maximum of 40 patients/ clients in a day. We may be able to accommodate more in the future, but at this point, we feel that the
       above is a good number, as we do not want to compromise on waiting time and quality.</p>
          </li>
          <li>
            <p>	We are able to accommodate a maximum of 40 patients/ clients in a day. We may be able to accommodate more in the future, but at this point, we feel that the
       above is a good number, as we do not want to compromise on waiting time and quality.</p>
          </li>
          <li>
            <p>	Please note that you are under NO COMPULSION, at any point in time, to undergo any treatment/ consultation at our Clinic. We understand if you need second
       opinions, or want to have your procedure done elsewhere – we may not just not able to advise you on what you should do where!.</p>
          </li>
        </ul>
        <p>Despite all the terms and conditions here, we are on your side! We just want the best outcomes, so that we both can be happy! </p>
      </div>
    </div>
  </div>
</section>
