<div class="slider-text">
  <div class="fancy-top" style="border-bottom:2px solid #0089f5">
  <div class="fancy-image" style="text-align:center">
    <img src="/img/lad.png" class="img-responsive" alt="lady" style="height:150px;width:auto">
    <div class="fancy-imagetext"  style="padding:10px 0">
    <p style="margin:0; color:#0089f5;font-size: 24px;font-weight: 700;">Dr. Zarna</p>
    <p style="margin:0;color:#0089f5" >Specialist</p>
  </div>
  </div>
  <div class="fancyimage-text text-center">
    <p style="width: 470px;margin: 0 auto 15px;">Medical management, together with basic cosmetic treatments can often work wonders in treating acne!  A simple, but intensive initial regimen followed up with a regular home program are often adequate to manage acne. Once active acne has been controlled, it is possible to focus on revising scars caused by acne.</p>
  </div>
  </div>
<div class="fancy-bottom">
  <p>Medical management, together with basic cosmetic treatments can often work wonders in treating acne!  A simple, but intensive initial regimen followed up with a regular home program are often adequate to manage acne. Once active acne has been controlled, it is possible to focus on revising scars caused by acne.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et distinctio impedit officiis quia harum at cupiditate reprehenderit eos voluptatibus, error libero quod expedita earum doloremque, similique maiores amet provident, cum?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, animi, esse. A veniam magnam labore, hic mollitia autem cum unde, aspernatur doloribus porro sit reprehenderit molestias rerum sequi consequatur provident.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minus repudiandae sed, eum, aspernatur illum in eveniet. Iusto porro eos ex, nobis fuga obcaecati. Perferendis necessitatibus illum, eveniet earum accusantium?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, nobis eligendi excepturi doloribus dolorem possimus eos nam, cupiditate, debitis accusantium sint consectetur cum? Autem, facere. Atque eaque vitae nostrum deserunt!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sint reprehenderit facere, ipsum impedit nemo consectetur quidem, eligendi, nulla voluptate velit veritatis enim inventore quis minus ut doloremque amet unde.</p>
</div>
</div>
