<footer>
  <div class="footer-top" ng-controller="footerctrl">
    <div class="container">

      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="footer-list">
            <ul class="padding0">
              <li ng-repeat="data in footer">
                <a ui-sref="skin({name:data.name,id:data._id})">
{{data.name}}
                                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="footer-list">
            <ul class="padding0">
              <li>
                <a ui-sref="about-us">
                              ABOUT US
                            </a>
              </li>
              <li>
                <a ui-sref="team">
                                TEAM
                              </a>
              </li>
              <li><a ui-sref="consultant">Consultant</a></li>
              <li><a ui-sref="before-after">Before &amp; After</a></li>
              <li><a ui-sref="testimonial">Testimonials</a></li>
              <li>
                <a ui-sref="blog">
BLOG
                                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="footer-list">
            <ul class="padding0">
              <li>
                <a ui-sref="clinic-policy">
            Clinic Policy
          </a>
              </li>
              <li>
                <a ui-sref="contact">
          CONTACT US
          </a>
              </li>

            </ul>
          </div>
          <!-- <div class="help-number">
                        <span class="color-white">HEALTHLINE: 1800-1022-733</span>
                    </div> -->
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="subscribe">
            <span class="color-white">SUBSCRIBE TO OUR NEWSLETTER!</span>
            <form class="form-inline mt15">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2">
              </div>
              <button type="submit" class="btn btn-default mob-min-s">SUBSCRIBE</button>
            </form>
          </div>
          <div class="follow my-list mt15 display-inline">
            <span class="color-white">Follow us on</span>
            <ul class="padding0 color-base mt10">
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-google-plus"></i></li>
              <li><i class="fa fa-twitter"></i></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p>Copyright &copy; {{template.year}}. Dr. Renita Rajan</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="pull-right">
            <p>Deisgned by <a href="http://ting.in/" target="_blank" class="color-base">Ting</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
