<section class="renitamenu" ng-controller="headerctrl">
  <div class="menu-side">
    <div class="container">
      <div class="row">
        <div class="headerpos">
          <div class="navbar-header {{buttonpos}}">
            <button type="button" class="btn-hide inline-block" ng-click="getNav();">
              <span class="icon-bar one"></span>
              <span class="icon-bar two"></span>
              <span class="icon-bar three"></span>
            </button>
            <a ui-sref="home"><img src="img/logo.png" alt="" class="em-logo"></a>
          </div>
          <div class="sidemenu {{getslide}}">
            <div class="nav-list">


              <!-- <h4 class="menu-title inline-block">Dr. RENITA RAJAN</h4> -->
              <div class="sdm-logo">
                <div class="cross inline-block" ng-click="getNav();">
                  <i class="fa fa-times"></i>
                </div>
                <a ui-sref="home"><img src="img/logo.png" alt="logo" width="150"> </a>
              </div>
              <div class="homeborder">
                <ul class="list-unstyled">
                  <li><a ui-sref="home">Home</a></li>
                </ul>
              </div>
              <div class="homeborder">

    <!--<uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status[data.name]" ng-repeat="data in categories">
            <uib-accordion-heading>
                <!--<a class="menu-nav-mobile" ui-sref="skin({name:data.name,id:data._id})" ui-sref-active="active" ng-if="!n.subnav">-->
                   <a class="menu-nav-mobile" ui-sref-active="active">
                  {{data.name}}
                  </a>
                <!--<span ng-if="n.subnav">-->
                      <span>
                <!--{{data.name}}-->
                </span>
                 <i class="pull-right fa icon color-white" ng-class="{'fa-caret-up':(status[data.name]), 'fa-caret-down': (!status[data.name])}"></i>
            </uib-accordion-heading>
            <!--<ul class="nav-submenu list-unstyled" ng-if="n.subnav">-->
                          <ul class="nav-submenu list-unstyled">
                <!--<li ng-repeat="s in n.subnav">-->
                   <li ng-repeat="data in categories">
                  <a ui-sref="">{{data.name}}</a>
                  </li>
            </ul>
        </div>
    </uib-accordion>-->


                <ul class="list-unstyled">
                  <li ng-repeat="data in categories"><a ui-sref="skin({name:data.name,id:data._id})">{{data.name}}
                    </a>
                    <ul>
                      <li ng-repeat="data in categories">
                        <a ui-sref="skin({name:data.name,id:data._id})">{{data.name}}
                    </a>
                      </li>
                    </ul>
                    </li>
                </ul>
              </div>
              <ul class="list-unstyled remaining">
                <li><a ui-sref="about-us">About Us</a></li>
                <li><a ui-sref="team">Team</a></li>
                <li><a ui-sref="consultant">Consultant</a></li>
                <li><a ui-sref="before-after">Before &amp; After</a></li>
                <li><a ui-sref="testimonial">Testimonials</a></li>
                <li><a ui-sref="blog">Blog</a></li>
                <li><a ui-sref="clinic-policy">Clinic Policy</a></li>
                <li><a ui-sref="contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
