<section class="renitamenu" ng-controller="headerctrl">
    <div class="menu-side">
        <div class="container">
            <div class="row">
                <div class="headerpos">
                    <div class="navbar-header {{buttonpos}}">
                        <button type="button" class="btn-hide inline-block" ng-click="getNav();">
                            <span class="icon-bar one"></span>
                            <span class="icon-bar two"></span>
                            <span class="icon-bar three"></span>
                        </button>
                        <a ui-sref="home"><img src="img/logo.png" alt="" class="em-logo"></a>
                    </div>
                    <div class="sidemenu {{getslide}}">
                        <div class="nav-list">


                            <!-- <h4 class="menu-title inline-block">Dr. RENITA RAJAN</h4> -->
                            <div class="sdm-logo">
                                <div class="cross inline-block" ng-click="getNav();">
                                    <i class="fa fa-times"></i>
                                </div>
                                <a ui-sref="home"><img src="img/logo.png" alt="logo" width="150"> </a>
                            </div>
                            <div class="homeborder">
                                <ul class="list-unstyled">
                                    <li><a ui-sref="home">Home</a></li>
                                </ul>
                            </div>
                            <div class="homeborder">
                                <ul class="list-unstyled">
                                    <li ng-repeat="data in categories"><a ui-sref="skin({name:data.name,id:data._id})">{{data.name}}</a></li>
                                    <!-- <li><a>Hair &amp; Scalp</a></li>
                                    <li><a>Body</a></li>
                                    <li><a>Mummy Derm</a></li> -->
                                </ul>
                            </div>
                            <ul class="list-unstyled remaining">
                                <li><a ui-sref="about-us">About Us</a></li>
                                <li><a ui-sref="team">Team</a></li>
                                <li><a ui-sref="doctor">Doctors</a></li>
                                  <li><a ui-sref="before-after">Before &amp; After</a></li>
                                <li><a ui-sref="testimonial">Testimonials</a></li>
                                <li><a ui-sref="blog">Blog</a></li>
                                <li><a ui-sref="term-condition">Terms &amp; Conditions</a></li>
                                <li><a ui-sref="contact">Contact Us</a></li>

                                <!-- <li><a>Skin</a></li>
                                <li><a>Hair</a></li>
                                <li><a>Diet</a></li>
                                <li><a>Treatment in Focus</a></li> -->
                                <!-- <li><a ui-sref="privacy">Privacy Policy</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- {
  name: "Home",
  classis: "active",
  anchor: "/"
},{
  name: "Skin",
  classis: "active",
  anchor: "skin"
},{
  name: "Hair & Scalp",
  classis: "active",
  anchor: "hairscalp"
},{
  name: "Body",
  classis: "active",
  anchor: "body"
},{
  name: "Mummy Derm",
  classis: "active",
  anchor: "mummyderm"
},{
  name: "About Us",
  classis: "active",
  anchor: "about-us"
},{
  name: "Blog",
  classis: "active",
  anchor: "blog"
},{
  name: "Before & After",
  classis: "active",
  anchor: "/"
},{
  name: "Skin",
  classis: "active",
  anchor: "skin"
},{
  name: "Hair",
  classis: "active",
  anchor: "/"
},{
  name: "Diet",
  classis: "active",
  anchor: "/"
},{
  name: "Treatment in Focus",
  classis: "active",
  anchor: "/"
},{
  name: "Privacy Policy",
  classis: "active",
  anchor: "privacy"
},{
  name: "Terms & Conditions",
  classis: "active",
  anchor: "term-condition"
},{
  name: "Contact Us",
  classis: "active",
  anchor: "contact"
} -->
